{
    "$schema": "https://www.krakend.io/schema/v3.json",
    "version": 3,
    "name": "Yatc Gateway",
    "port": {{ .env.port }},
    "extra_config": {{ include "extra_config.tmpl" }},
    "cache_ttl": "300s",
    "timeout": "300s",
    "endpoints": [
        {{ template "endpoints.tmpl" . }}
   ]
}